<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/img/logo_fmf.png"
    routerLink="/prueba/info"
  />
  <span>Evaluación Desarrollador Jr.</span>
    <div class="spacer"></div>
    <button routerLink="/prueba/info" class="btn btn-dark m-2">Instrucciones</button>
    <button routerLink="/prueba/registro" class="btn btn-primary">Prueba: Rodrigo Emmanuel Ramírez Díaz</button>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>

  </div>
